<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">	
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home page</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

  <form method="POST">
		<h2>Форма заполнения корень</h2>	
		<input type="text" name="titlemultfilm" id="titlemultfilm" placeholder="Название мультфильма">	
		<br>
		<input type="date" name="dateofissue" id="dateofissue" placeholder="Дата выхода">
		<br>
		<input type="text" name="duration" id="duration" placeholder="Продолжительность">
		<br>
		<input type="text" name="source" id="source" placeholder="Ссылка на источник">
		<br>
		<input type="submit" value="SEND">
  </form>

  <br>
  <br>
  

  <a href="/records">Records page</a>

<script src="/js/test.js" type="text/javascript"></script>
</body>
</html>