<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">	
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>All records</title>
</head>
<body>
	
	<section class="rec">
    <div class="rec__wrap">
    
      <h2>Records page</h2>
      <a href="/">Home page</a>
      
      <div class="rec__multblock">
        {{#if mass.length}}
          {{#each mass}}
            <div class="rec__eachmult">
              <span>{{title}}</span>
              <span><sub>Премьера</sub></span>
              <span>{{yearsOfIssue}}</span>
              <span><sub>Продолжительность</sub></span>
              <span>{{duration}}</span>
              <div class="rec__link">
                <span>{{source}}</span>
              </div>  
            </div>
          {{/each}}
        {{/if}}
      </div>

    </div>
	</section>  

</body>
</html>