body {
  background-image: url('/pict/bkg.png');
  background-size: cover;
}
.rec {
  border: 1px solid black;
  display: flex;
  height: 95vh;
}
.rec__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rec__multblock {
  display: flex;
}
.rec__eachmult {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  transition: ease-in-out 0.5s;
}
.rec__eachmult:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05, 1.05);
  outline: 0;
  transition: ease-in-out 0.5s;
}
.rec__eachmult span {
  text-align: center;
  padding: 10px;
}
.rec__eachmult span:nth-child(1) {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.1rem;
  color: #094d74;
}
.rec__eachmult span:nth-child(2) {
  color: gray;
  padding: 5px 0 0 0;
}
.rec__eachmult span:nth-child(4) {
  color: gray;
  padding: 5px 0 0 0;
}
