@import "smart-grid.less";
@import "var.less";

//.reset();

body {  
  //background-color: lightcyan;	
  background-image: url('/pict/bkg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rec {
  border: 1px solid black;
  display: flex;  
  flex-wrap: wrap;
  height: 95vh;
  &__wrap {    
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__multblock {    
    display: flex;    
  }
  &__eachmult{
    border-radius: 7px;
    display: flex;    
    flex-direction: column;
    justify-content: space-around;
    width: 250px;    
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);    
    transition: @transition;    
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			transform: scale(1.05, 1.05);
      outline: 0;
      transition: @transition;
    }
    span {
      text-align: center;
      padding: 10px;      
    }
    span:nth-child(1) {
      font-weight: bold;
      //text-decoration: underline;
      font-size: 1.1rem;
      color: #094d74;
    }
    span:nth-child(2) {
      color: gray;
      padding: 5px 0 0 0;      
    }
    span:nth-child(4) {
      color: gray;
      padding: 5px 0 0 0;      
    }
    span:nth-child(5) {
      font-weight: bold;
      color: gray;
    }
  }
  &__link {    
    //border: @border;
    display: flex;    
    justify-content: center;    
    align-items: center;    
    width: 100%;
    img {
      //border: @border;
      width: 30px;
      height: 30px;
      margin: 15px;
    }
    a {
      //border: @border;            
      display: flex;
      align-items: center;
      text-align: center;      
      height: 100%;      
      text-decoration: none;
      color: red;
      font-weight: bold;      
    }
  }


}